.filterBarContainer{
display: flex;
}

.filterBarMenuTrue{
    background: #61dafb;
    width: 350px;
    height: 700px;
    transition: 0.5s;
}

.filterBarMenuFalse{
    display: flex;
    background: brown;
    width: 30px;
    height: 700px;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
}

.filterBarMenuContainer{

    display: flex;
    justify-content: center;
    transition: 0.5s;

}

.filterBarMenuContainerItems{
   padding: 5px;
}

