.filterBarByWheelContainer{
    margin: 5px ;
    border: black solid 2px;
    background: brown;
}

.filterBarByWheelVisibleFalse{
    width: 300px;
    height: 40px;
    background: brown;
    transition: 0.5s;
}

.filterBarByWheelVisibleTrue{
    width: 300px;
    height: 70px;
    background: blueviolet;
    transition: 0.5s;
}

.openCloseFilterBarByWheel{
    border-top: solid black 2px;
}


